<div class="container mb-5">
  <div class="row mt-3">
    <div class="col-12">
      <span class="display-4"> {{ getTitleSchedule()}} </span>
    </div>
  </div>

  <div class="mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/schedules">Visualizar agendamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ getTitleSchedule() }}</li>
      </ol>
    </nav>
  </div>

  <div>
    <form class="row" #scheduleForm="ngForm">
      <div class="form-group col-12 col-md-6">
        <label for="exampleFormControlInput1">Data inicial</label>
        <input class="form-control" name="startDate" type="text" mwlFlatpickr [(ngModel)]="schedule.startDate"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Selecione a data" #startDate="ngModel" required>
        <small class="text-danger mt-2" *ngIf="startDate.errors?.required">
          Data inicial do agendamento é obrigatória.
        </small>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="exampleFormControlInput1">Data final</label>
        <input class="form-control" name="endDate" type="text" mwlFlatpickr [(ngModel)]="schedule.endDate"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          #endDate="ngModel" required placeholder="Seleciona a data">
        <small class="text-danger mt-2" *ngIf="endDate.errors?.required">
          Data Final do agendamento é obrigatória.
        </small>

      </div>
      <div class="form-group col-12 col-md-6">
        <label for="exampleFormControlInput1">Selecione Paciente</label>
        <ngx-select optionTextField="fullName" optionValueField="cpf" required #patient="ngModel" [items]="patients"
          name="patient" [noResultsFound]="notPatient" [(ngModel)]="patientId"></ngx-select>
        <small class="text-danger mt-2" *ngIf="patient.errors?.required">
          Selecionar o paciente é obrigatório.
        </small>
      </div>
      <div class="form-group col-12 col-md-6" *ngIf="isEdit && exercisesIds.length > 0; else notEdit">
        <label for="exampleFormControlInput1">Selecione Exercícios</label>
        <ngx-select [items]="exercises" [noResultsFound]="notExercises" required #edit="ngModel" optionTextField="name"
          [multiple]="true" [(ngModel)]="exercisesIds" name="exercises"></ngx-select>
        <small class="text-danger mt-2" *ngIf="edit.errors?.required">
          Selecionar os exercícios é obrigatório.
        </small>
      </div>
      <ng-template #notEdit>
        <div class="form-group col-12 col-md-6">
          <label for="exampleFormControlInput1">Selecione Exercícios</label>
          <ngx-select [items]="exercises" [noResultsFound]="notExercises" required #isEdit="ngModel"
            optionTextField="name" [multiple]="true" [(ngModel)]="exercisesIds" name="exercises"></ngx-select>
          <small class="text-danger mt-2" *ngIf="isEdit.errors?.required">
            Selecionar os exercícios é obrigatório.
          </small>
        </div>
      </ng-template>

      <div class="form-group col-12 col-md-6">
        <label for="exampleFormControlInput1">Etiqueta do agendamento</label>
        <input class="form-control" name="color" type="color" [(ngModel)]="schedule.color">
      </div>

      <div class="form-group col-12 col-md-6" *ngIf="schedule.id">
        <label for="exampleFormControlInput1">Etiqueta do agendamento</label>
        <mat-select [(value)]="schedule.status">
          <mat-option value="Ativo">Ativo</mat-option>
          <mat-option value="Cancelado">Cancelado</mat-option>
        </mat-select>
      </div>

    </form>
    <div class="row justify-content-between mt-2">
      <div class="col-4 col-md-4">
        <button class="btn btn-danger" routerLink="/schedules"> Voltar </button>
      </div>
      <div class="col-4 col-md-4 text-right">
        <button class="btn btn-success" (click)="saveSchedule()" [disabled]="!scheduleForm.valid"> Salvar </button>
      </div>
    </div>
  </div>