<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <span class="display-4"> {{ getTitleExercise()}} </span>
    </div>
  </div>

  <div class="mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/exercise">Visualizar exercícios</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ getTitleExercise() }}</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <form class="col-12" (ngSubmit)="saveExercise()" #exerciseForm="ngForm">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nome do exercício</label>
        <input type="text"  required [(ngModel)]="exercise.name" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Supino">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrição do exercício</label>
        <textarea class="form-control" name="description" [(ngModel)]="exercise.description" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="row justify-content-between mt-2">
        <div class="col-4">
          <button class="btn btn-danger" routerLink="/exercise"> Voltar </button>
        </div>
        <div class="col-4 text-right">
          <button class="btn btn-success" type="submit" [disabled]="!exerciseForm.valid"> Salvar </button>
        </div>
      </div>
    </form>


  </div>